/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blueviolet;
}

a {
  color: #00B7FF;
} */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.jpg');
  object-fit: cover;
}

a {
  color: #00B7FF;
}
body {
	font-family: poppins;
	font-size: 16px;

}

.wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 5px;
 
}

.form-signin {
  color: rgb(2, 8, 8);
  background-color: #ffffff;
  box-shadow: 0 0 10px #9aaf1f;
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  /* background-color: #eee; */
  border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}
.form-signin-heading2 {
  text-align:center;
  margin-bottom: 10px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
